<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.unsurv">

    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="29" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" />
    <uses-feature android:name="android.hardware.sensor.compass" />
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application

        android:icon="@drawable/unsurv_logo"
        android:label="@string/app_label"
        android:theme="@style/EditedMaterialNoActionBar"

        android:allowBackup="false"
        android:networkSecurityConfig="@xml/network_security_config">
        <!-- CLEARTEXT JUST HERE FOR DEBUGGING REMOVE LATER!!!!

        android:debuggable="true"
        android:usesCleartextTraffic="true"
        -->



        <activity
            android:name=".DebugActivity"
            android:label="@string/app_label"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".HistoryActivity"
            android:label="@string/history_label" />

        <activity
            android:name=".DetectorActivity"
            android:label="@string/app_label">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".MapActivity"
            android:label="@string/map_label" />

        <activity
            android:name=".StatisticsActivity"
            android:label="@string/statistics_label" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_label" />

        <activity android:name=".TutorialActivity" />

        <activity
            android:name=".ManualCaptureActivity"
            android:label="@string/manual_capture_label">
        </activity>

        <activity
            android:name=".CaptureTrainingImageActivity"
            android:label="@string/training_capture_label">
        </activity>

        <activity
            android:name=".DrawOnTrainingImageActivity"
            android:label="@string/draw_on_training_image_label"
            android:parentActivityName=".HistoryActivity" />

        <activity
            android:name=".EditCameraActivity"
            android:label="@string/edit_camera_label"
            android:parentActivityName=".HistoryActivity" />

        <activity
            android:name=".LicencesActivity"
            android:label="@string/licences_label"
            android:parentActivityName=".SettingsActivity" />

        <service
            android:name=".SyncIntervalSchedulerJobService"
            android:label="SynchronizationScheduler"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>